/01_Simple_Linear_Model.py
/02_Convolutional_Neural_Network.py
/data
/tensorflow_input_image_by_tfrecord-master
/venv
/dataset_tropic
/venv1
/checkpoints
/MNIST
/17flowers/
/checkpoint
/model_alexnet-800.data-00000-of-00001
/model_alexnet-800.index
/model_alexnet-800.meta